.apple-spinner {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.apple-spinner-blade {
    position: absolute;
    width: 3px;
    height: 9px;
    background: #4c4c4c;
    border-radius: 4px;
    transform-origin: center 15px;
    opacity: 0;
    animation: apple-spinner-fade 1.2s linear infinite;
}

.apple-spinner-blade:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.apple-spinner-blade:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.apple-spinner-blade:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.apple-spinner-blade:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.apple-spinner-blade:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.apple-spinner-blade:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.apple-spinner-blade:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.apple-spinner-blade:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.apple-spinner-blade:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.apple-spinner-blade:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.apple-spinner-blade:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.apple-spinner-blade:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes apple-spinner-fade {
    0% {
        opacity: 0.1;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.1;
    }
}